# Scraping Notebook for Weather Data from Wunderground.com
Name: Andrew Auyeung
Date: 10/13/2020
Goal: Pulling daily weather information from Newark Weatherstation

In [1]:
# import libraries
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import psycopg2 as pg
import time
import requests
import pickle
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine

In [2]:
print(sys.version)

3.8.5 | packaged by conda-forge | (default, Sep 24 2020, 16:37:41)
[Clang 10.0.1 ]

In [5]:
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument("--incognito")
chrome_options.add_argument("javascript.enabled")

In [3]:
def pour_soup(month, year):
    base_url = "https://www.wunderground.com/history/monthly/us/nj/newark/KEWR/date/"
    link = year+'-'+month
    url = base_url+link
    url = str(url)
    browser = webdriver.Chrome(executable_path='/Applications/chromedriver')
    time.sleep(0.5)
    browser.get(url)
    time.sleep(10)
    browser.execute_script("window.scrollTo(0, document.body.scrollHeight/2);")
    time.sleep(2)
    soup = BeautifulSoup(browser.page_source)
    browser.quit()
    return soup

In [4]:
def get_weather_df(soup):
    """
    Pulls Data from wunderground soup
    """
    # Find table of table elements
    table = soup.find_all('table', class_="days ng-star-inserted")[0].find_all('table')
    curr_month = []
    # table columns are different tables
    # Function starts at a specific row
    # Then pulls the data from the same row from each table
    for row_num in range(1,len(table[0].find_all('tr'))):
        curr_dict = {}
        for i, labels in enumerate(headers):
            rows = table[i].find_all('tr')
            if i:
                curr_dict.update(dict(zip(labels, map(float, rows[row_num].text.split()))))
            else:
                curr_dict.update(dict(zip(labels, rows[row_num].text.split())))
        curr_month.append(curr_dict)

    curr_month = pd.DataFrame(curr_month)
    return curr_month

In [5]:
engine = create_engine('postgresql://andrew:Jubjubkuk5ov@localhost:5432/weather')

In [15]:
################################## Insert Year you are interested in!
# pull from one webpage

headers = [['date'], ['temp_max', 'temp_avg', 'temp_min'], ['dp_max', 'dp_avg', 'dp_min'], ['humid_max', 'humid_avg', 'humid_min'], ['ws_max', 'ws_avg', 'ws_min'], ['press_max', 'press_avg', 'press_min'], ['precip']] 
wdf = pd.DataFrame()
for year in range(1999, 1989, -1):
    year = str(year)
    for month in range(12,0,-1):
        month = str(month)
        works = True
        while works:
            try:
                soup = pour_soup(month, year)
                works = False
            except:
                works = True # try pour soup again in case page doesn't load the first time
        curr_month_df = get_weather_df(soup)
        curr_month_df.date = month + '-' + curr_month_df.date + '-' + year # turns date column to month day year string
        wdf = wdf.append(curr_month_df, ignore_index=True)
        print('Last Month Scrapped:', month, year)
        print('Number of Rows:',len(wdf))
        curr_month_df.date = pd.to_datetime(curr_month_df.date)
        curr_month_df.to_sql('daily', engine, if_exists='append', index=False)

Last Month Scrapped: 12 1999
Number of Rows: 31
Last Month Scrapped: 11 1999
Number of Rows: 61
Last Month Scrapped: 10 1999
Number of Rows: 92
Last Month Scrapped: 9 1999
Number of Rows: 122
Last Month Scrapped: 8 1999
Number of Rows: 153
Last Month Scrapped: 7 1999
Number of Rows: 184
Last Month Scrapped: 6 1999
Number of Rows: 214
Last Month Scrapped: 5 1999
Number of Rows: 245
Last Month Scrapped: 4 1999
Number of Rows: 275
Last Month Scrapped: 3 1999
Number of Rows: 306
Last Month Scrapped: 2 1999
Number of Rows: 334
Last Month Scrapped: 1 1999
Number of Rows: 365
Last Month Scrapped: 12 1998
Number of Rows: 396
Last Month Scrapped: 11 1998
Number of Rows: 426
Last Month Scrapped: 10 1998
Number of Rows: 457
Last Month Scrapped: 9 1998
Number of Rows: 487
Last Month Scrapped: 8 1998
Number of Rows: 518
Last Month Scrapped: 7 1998
Number of Rows: 549
Last Month Scrapped: 6 1998
Number of Rows: 579
Last Month Scrapped: 5 1998
Number of Rows: 610
Last Month Scrapped: 4 1998
Number of Rows: 640
Last Month Scrapped: 3 1998
Number of Rows: 671
Last Month Scrapped: 2 1998
Number of Rows: 699
Last Month Scrapped: 1 1998
Number of Rows: 730
Last Month Scrapped: 12 1997
Number of Rows: 761
Last Month Scrapped: 11 1997
Number of Rows: 791
Last Month Scrapped: 10 1997
Number of Rows: 822
Last Month Scrapped: 9 1997
Number of Rows: 852
Last Month Scrapped: 8 1997
Number of Rows: 883
Last Month Scrapped: 7 1997
Number of Rows: 914
Last Month Scrapped: 6 1997
Number of Rows: 944
Last Month Scrapped: 5 1997
Number of Rows: 975
Last Month Scrapped: 4 1997
Number of Rows: 1005
Last Month Scrapped: 3 1997
Number of Rows: 1036
Last Month Scrapped: 2 1997
Number of Rows: 1064
Last Month Scrapped: 1 1997
Number of Rows: 1095
Last Month Scrapped: 12 1996
Number of Rows: 1126
Last Month Scrapped: 11 1996
Number of Rows: 1156
Last Month Scrapped: 10 1996
Number of Rows: 1187
Last Month Scrapped: 9 1996
Number of Rows: 1217
Last Month Scrapped: 8 1996
Number of Rows: 1248
Last Month Scrapped: 7 1996
Number of Rows: 1279
Last Month Scrapped: 6 1996
Number of Rows: 1309
Last Month Scrapped: 5 1996
Number of Rows: 1340
Last Month Scrapped: 4 1996
Number of Rows: 1370
Last Month Scrapped: 3 1996
Number of Rows: 1401
Last Month Scrapped: 2 1996
Number of Rows: 1430
Last Month Scrapped: 1 1996
Number of Rows: 1461
Last Month Scrapped: 12 1995
Number of Rows: 1492
Last Month Scrapped: 11 1995
Number of Rows: 1522
Last Month Scrapped: 10 1995
Number of Rows: 1553
Last Month Scrapped: 9 1995
Number of Rows: 1583
Last Month Scrapped: 8 1995
Number of Rows: 1614
Last Month Scrapped: 7 1995
Number of Rows: 1645
Last Month Scrapped: 6 1995
Number of Rows: 1675
Last Month Scrapped: 5 1995
Number of Rows: 1706
Last Month Scrapped: 4 1995
Number of Rows: 1736
Last Month Scrapped: 3 1995
Number of Rows: 1767
Last Month Scrapped: 2 1995
Number of Rows: 1795
Last Month Scrapped: 1 1995
Number of Rows: 1826
Last Month Scrapped: 12 1994
Number of Rows: 1857
Last Month Scrapped: 11 1994
Number of Rows: 1887
Last Month Scrapped: 10 1994
Number of Rows: 1918
Last Month Scrapped: 9 1994
Number of Rows: 1948
Last Month Scrapped: 8 1994
Number of Rows: 1979
Last Month Scrapped: 7 1994
Number of Rows: 2010
Last Month Scrapped: 6 1994
Number of Rows: 2040
Last Month Scrapped: 5 1994
Number of Rows: 2071
Last Month Scrapped: 4 1994
Number of Rows: 2101
Last Month Scrapped: 3 1994
Number of Rows: 2132
Last Month Scrapped: 2 1994
Number of Rows: 2160
Last Month Scrapped: 1 1994
Number of Rows: 2191
Last Month Scrapped: 12 1993
Number of Rows: 2222
Last Month Scrapped: 11 1993
Number of Rows: 2252
Last Month Scrapped: 10 1993
Number of Rows: 2283
Last Month Scrapped: 9 1993
Number of Rows: 2313
Last Month Scrapped: 8 1993
Number of Rows: 2344
Last Month Scrapped: 7 1993
Number of Rows: 2375
Last Month Scrapped: 6 1993
Number of Rows: 2405
Last Month Scrapped: 5 1993
Number of Rows: 2436
Last Month Scrapped: 4 1993
Number of Rows: 2466
Last Month Scrapped: 3 1993
Number of Rows: 2497
Last Month Scrapped: 2 1993
Number of Rows: 2525
Last Month Scrapped: 1 1993
Number of Rows: 2556
Last Month Scrapped: 12 1992
Number of Rows: 2587
Last Month Scrapped: 11 1992
Number of Rows: 2617
Last Month Scrapped: 10 1992
Number of Rows: 2648
Last Month Scrapped: 9 1992
Number of Rows: 2678
Last Month Scrapped: 8 1992
Number of Rows: 2709
Last Month Scrapped: 7 1992
Number of Rows: 2740
Last Month Scrapped: 6 1992
Number of Rows: 2770
Last Month Scrapped: 5 1992
Number of Rows: 2801
Last Month Scrapped: 4 1992
Number of Rows: 2831
Last Month Scrapped: 3 1992
Number of Rows: 2862
Last Month Scrapped: 2 1992
Number of Rows: 2891
Last Month Scrapped: 1 1992
Number of Rows: 2922
Last Month Scrapped: 12 1991
Number of Rows: 2953
Last Month Scrapped: 11 1991
Number of Rows: 2983
Last Month Scrapped: 10 1991
Number of Rows: 3014
Last Month Scrapped: 9 1991
Number of Rows: 3044
Last Month Scrapped: 8 1991
Number of Rows: 3075
Last Month Scrapped: 7 1991
Number of Rows: 3106
Last Month Scrapped: 6 1991
Number of Rows: 3136
Last Month Scrapped: 5 1991
Number of Rows: 3167
Last Month Scrapped: 4 1991
Number of Rows: 3197
Last Month Scrapped: 3 1991
Number of Rows: 3228
Last Month Scrapped: 2 1991
Number of Rows: 3256
Last Month Scrapped: 1 1991
Number of Rows: 3287
Last Month Scrapped: 12 1990
Number of Rows: 3318
Last Month Scrapped: 11 1990
Number of Rows: 3348
Last Month Scrapped: 10 1990
Number of Rows: 3379
Last Month Scrapped: 9 1990
Number of Rows: 3409
Last Month Scrapped: 8 1990
Number of Rows: 3440
Last Month Scrapped: 7 1990
Number of Rows: 3471
Last Month Scrapped: 6 1990
Number of Rows: 3501
Last Month Scrapped: 5 1990
Number of Rows: 3532
Last Month Scrapped: 4 1990
Number of Rows: 3562
Last Month Scrapped: 3 1990
Number of Rows: 3593
Last Month Scrapped: 2 1990
Number of Rows: 3621
Last Month Scrapped: 1 1990
Number of Rows: 3652

In [3]:
wdf = pd.to_pickle('src/07EWRweather_cleaned.pickle')

In [10]:
for each in range(2003,2002,-1):
    print(each)

2003

In [176]:
headers = [['date'], ['temp_max', 'temp_avg', 'temp_min'], ['dp_max', 'dp_avg', 'dp_min'], ['humid_max', 'humid_avg', 'humid_min'], ['ws_max', 'ws_avg', 'ws_min'], ['press_max', 'press_avg', 'press_min'], ['precip']]

In [10]:
# Table 3 is the Dates
# 4 - Temperature (F)
# 5 - DewPoint (F)
# 6 - Humidity (%)
# 7 - Wind Speed (mph)
# 8 - Pressure (Hg)
# 9 - Precipitation (in)

In [24]:
wdf.to_csv()

In [19]:
wdf.drop(columns='raining', inplace=True)

In [31]:
connection_args = {
    'host': 'localhost',
    'dbname': 'weather',
}

connection = pg.connect(**connection_args)

TypeError: must be real number, not str

In [34]:
connection.close()

In [37]:
wdf.to_csv(path_or_buf='src/weather.csv', index=False)

In [40]:
engine = create_engine('postgresql://andrew:Jubjubkuk5ov@localhost:5432/weather')
wdf.to_sql('daily', engine, if_exists='append', index=False)

In [45]:
connection.close()

4657